includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - phpstan-baseline.neon

parameters:
    level: 2

    paths:
        - packages/

    excludePaths:
        - */vendor/

    checkImplicitMixed: true
    checkBenevolentUnionTypes: true
    treatPhpDocTypesAsCertain: false
